{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "rules": {
        "semi": [
            "warn",
            "never"
        ],
        "quotes": [
            "error",
            "single"
        ]
    }
}